<footer>
    <h1>Lorem iosum</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolore odio nostrum nemo ipsam quidem obcaecati tenetur, iste numquam unde esse vitae natus dolorem reprehenderit! Voluptatibus culpa dignissimos perferendis architecto.
    </p>
</footer>