<footer class="bg-dark text-center p-2">
    <p class="h-5">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolore odio nostrum nemo ipsam quidem obcaecati tenetur, iste numquam unde esse vitae natus dolorem reprehenderit! Voluptatibus culpa dignissimos perferendis architecto.
    </p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>