<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <%- include("partials/navigation.ejs") %> 
    <main class="container vh-100 pt-2 d-flex justify-content-center text-center align-items-center">
      <section>
        <h1 class="display-1">About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus obcaecati consectetur odio earum aliquid, a dolore consequatur expedita quasi, sequi sapiente ratione assumenda architecto sit laborum eligendi eveniet ipsam deserunt!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam quae sapiente vitae iste! Cum atque ad cupiditate provident, quisquam incidunt eos tenetur, omnis quam voluptas explicabo animi accusamus temporibus. Labore!</p>
      </section>
    </main>
  </body>
</html>